body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.container{
    background-color: white;
    margin: 50px;
    padding: 2rem;
    width: 25%;
    height: auto;
    border-radius: 5px;
    border: none;
    box-shadow: 3px rgba(black, gray, black, alpha);
}
    .hidden {
    display: none;
}
#empty-cart{
    text-align: center;
}

#checkout-btn{
    background-color: rgb(129, 8, 242);
    border: none;
    border-radius: 10px;
    box-shadow: 3px gray;
    cursor: pointer;
    color: white;
    padding: 10px;
}
#checkout-btn:hover{
    background-color: rgb(117, 44, 185);
}
.product{
   display: flex;
   justify-content: space-around;
   border-radius: 10px;
   padding: 15px;
   margin-bottom: 10px;
   background-color: whitesmoke;
}
.product button{
    background-color: rgb(129, 8, 242);
    border: none;
    border-radius: 10px;
    box-shadow: 3px gray;
    cursor: pointer;
    color: white;
    padding: 5px;
}
.product button:hover{
     background-color: rgb(117, 44, 185);
}


